# Use URL absoluta em produção (ex: https://api.seudominio.com/api/v1)
# Em desenvolvimento local pode manter relativo para usar proxy do Vite.
VITE_API_BASE_URL=/api/v1

# Backend alvo quando usar Vite dev server em /painel
VITE_API_PROXY_TARGET=http://restitua-env.eba-gext7fxw.us-east-1.elasticbeanstalk.com
